body, button {
	font-size: large;
}
div {
	border: 1px solid black;
	padding: 5px;
	display: inline-block;
}
td {
	padding-left: 10px;
	padding-right: 10px;
}

#draft_div, #race_div {
	max-height: 75vh;
	overflow-y: scroll;
	max-width: 75vw;
}

.draft_me {
	text-decoration: underline;
	cursor: pointer;
}